<div class="contenedor">
    <my-header></my-header>
    <div class="section"> 
        &#10094;my-section&#10095;
    </div>
    <div class="selection"> 
        &#10094;my-seleccion&#10095;
    </div>
    <div class="nav"> 
        &#10094;my-nav&#10095;
    </div>
    <div class="footer"> 
        &#10094;my-footer&#10095;
    </div>
</div>

<style>
    
   my-components{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: aliceblue;
    }
</style>